<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>随机故事</title>
    <link rel="stylesheet" href="/public/normalize.css" />
    <link rel="stylesheet" href="/public/story.css" />
  </head>
  <body>
    <div class="story">
      <div class="story__hd"></div>
      <div class="story__bd">
        <div class="title">{{ title }}</div>
        <div class="content">{{ content | safe }}</div>
      </div>
      <div class="story__ft"></div>
    </div>
  </body>
</html>
